body{
    background-color: black;
}
.container{
    background-color: skyblue;
  color: whitesmoke;
  width: 90%;
  max-width: 470px;
  margin: 100px auto 0;
  padding: 40px 35px;
  border-radius: 20px 20px;
  text-align: center;
  display: grid;
  justify-content: center; 
  margin-top: 0px;
}
.img_1{
    margin-top: -80px;
    width: 300px;
}
.temp{
    margin-top: -10px;
    font-size: 60px;
    font-weight: 500;
}
.state{
    font-size: 60px;
    font-weight: 400;
    margin-top: -10px;
}
.Forcast{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 80px;
    margin-top: 20px;

}
.col{
    display: flex;
    justify-content: center;
    text-align: left;
    margin-bottom: -30px;
}
.col img{
    width: 150px;
    margin-right: 10px;
}
.img_2, .img_3{
    width: 100px;
    height: 150px;
}
.img_2{
    margin-left: -50px;
}
.humidity, .wind{
    margin-top: 50px;
    font-size: 20px;
}