body {
    object-fit: contain;
    background-image: url(IMG/front.jpg);
    background-size: cover;
}
  
  .container {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 6.25em; 
  }
  
  h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 3.125em; 
}

#input {
  width: 50%;
  height: 2.5em; 
  border: 1px solid black;
  padding: 1em; 
  box-sizing: border-box; 
}

button {
  width: 10%; 
  height: 1.5em;
  background-color: blue;
  color: white; 
  font-size: 1.25em; 
}

button:hover {
  background-color: blanchedalmond;
  color: rgb(163, 11, 130);
}

.date-time {
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 1.25em; 
  border: 0.625em; 
  text-align: center;
  margin-bottom: 1.25em;
}